<select class="rounded-lg bg-gray-700 px-4 py-2 text-gray-200 outline-none" (change)="onCategoryChange($event)">
        <option value="">All Games</option>
        <option value="mmorpg">MMORPG</option>
        <option value="shooter">Shooter</option>
        <option value="moba">MOBA</option>
        <option value="anime">Anime</option>
        <option value="battle-royale">Battle Royale</option>
        <option value="strategy">Strategy</option>
        <option value="fantasy">Fantasy</option>
        <option value="sci-fi">Sci-Fi</option>
        <option value="card">Card Games</option>
        <option value="racing">Racing</option>
        <option value="fighting">Fighting</option>
        <option value="social">Social</option>
        <option value="sports">Sports</option>
</select>